{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}
{% endblock %}

{% block main %}

<table>
<tr>
    <th>name</th>
    <th>is-food-bank</th>
    <th>detail</th>
    <th>update</th>
    <th>delete</th>
</tr>

    {% for agency in object_list %}
    <tr>
        <td> {{ agency.name }} </td>
        <td> {{ agency.is_food_bank }}</td>
        <td><a href="{% url "agency_detail" agency.id %}">detail</a></td>
        <td><a href="{% url "agency_update" agency.id %}">update</a></td>
        <td><a href="{% url "agency_delete" agency.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block customized_js %}
{% endblock %}