{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}
{% endblock %}

{% block main %}

<form action="{% url 'agency_create' %}" method="post">
    {% csrf_token %}
    name: <input type="text" name="name" value="{{ object.name }}"><br>
    contact_person: <input type="text" name="contact_person" value="{{ object.contact_person }}"><br>
    phone_number:<input type="text" name="phone_number" value="{{ object.phone_number }}"><br>
    email:<input type="text" name="email" value="{{ object.email }}"><br>
    {% if object.is_food_bank == True %}
        is_food_bank<input type="checkbox" name="is_food_bank" checked><br>
    {% else %}
        is_food_bank<input type="checkbox" name="is_food_bank"><br>
    {% endif %}

    <input type="submit">
</form>

{% endblock %}

{% block customized_js %}
{% endblock %}