{% extends 'backstage/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  {{ PROJECT_NAME }}
{% endblock %}
{% block customized_css %}
{% endblock %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
  
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
  
    <button type="submit" class="btn btn-success">提交</button>
    {% if pk %}
        <a href="/inventory/delete/{{ model_name }}/{{ pk }}" 
        class="btn btn-danger" role="button">刪除</a>
    {% endif %}

</form>
{% endblock %}

{% block customized_js %}
<script>
let initDate = () => {
    let dateInput = document.querySelectorAll('input[type=date]');
    dateInput.forEach(element => {
        if(element.getAttribute("value") != ""){
            element.setAttribute("value", element.getAttribute("value").replace("/","-").replace("/","-"));
        }
    });
}
initDate();
</script>
{% endblock %}