{% extends 'backstage/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  {{ PROJECT_NAME }}
{% endblock %}
{% block customized_css %}
{% endblock %}

{% block main %}
<form method="post" novalidate>
    {% csrf_token %}
  
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
  
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

{% block customized_js %}
{% endblock %}