{% extends 'backstage/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  {{ PROJECT_NAME }}
{% endblock %}
{% block customized_css %}

<style>

input[type=number]{
    width: 115px;
}

#canvas {
    width: 100%;
}

</style>

{% endblock %}

{% block main %}

<form method="post">
    {% csrf_token %}
    <!-- form-area -->
    <div id="form-area">
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div id="parent"></div>
    <button type="button" class="btn btn-success" onclick="turnOn()">開啟相機</button>
    <button type="button" class="btn btn-danger" onclick="turnOff()">關閉相機</button>
    <br><br>
    {{ formset.management_form }}
    {% for form in formset %}
    <div id="formset-{{ forloop.counter0 }}"
         class="form-row">
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="form-group">
            <label for="">&nbsp;</label>
            <input class="form-control btn btn-success add-form-row" type="button" value="+">
        </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">提交</button>

</form>
{% endblock %}

{% block customized_js %}
<script src="{% static 'vendors/inventory/filterOption.js' %}"></script>
<script src="{% static 'vendors/inventory/formset.js' %}"></script>
<script src="{% static 'vendors/jsQR/docs/jsQR.js' %}"></script>
<script src="{% static 'vendors/inventory/formsetQR.js' %}"></script>
<script>
resetAllOption(document.getElementById('id_form-TOTAL_FORMS').value);
let d = document.querySelectorAll('.add-form-row');
for(let i=0; i<d.length-1; i++){ //讓按鈕變成原本的樣子
    d[i].className = "form-control btn btn-danger remove-form-row";
    d[i].value = "-";
}
let name = "{{name}}"; //保留表單中的名子
</script>
{% endblock %}