{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}
{% endblock %}

{% block main %}

<select name="year" id="year" onchange="call()"></select>年
<select name="month" id="month" onchange="call()"></select>月
<select name="day" id="day" onchange="call()"></select>日

<canvas id="record"></canvas>

{% endblock %}

{% block customized_js %}
<script>

let indexInit = () => {
    let list = [['year', 2010, 2019], ['month', 1, 12], ['day', 1, 31]]
    for(let i=0; i<list.length; i++){
        let parent = document.getElementById(list[i][0]);
        let child = document.createElement('option');
        child.text = '---';
        parent.add(child);
        for(let j=list[i][1]; j<=list[i][2]; j++){
            let child = document.createElement('option');
            child.text = j;
            parent.add(child);
        }
    }
    drawChart(0,0,0);
}

let call = () => {
    let year = document.getElementById('year').value;
    let month = document.getElementById('month').value;
    let day = document.getElementById('day').value;
    if(year == '---') year = 0;
    if(month == '---') month = 0;
    if(day == '---') day = 0;
    drawChart(year, month, day);
}

let drawChart = (year, month, day) => {
    fetch(`/inventory/get_statistic_data/${year}/${month}/${day}`)
    .then(res => res.json())
    .then(res => {
        if(window.bar != undefined){
            window.bar.destroy();
        }
        var ctx = document.getElementById('record').getContext('2d');
        window.bar = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: res['label'],
                datasets: [
                    {
                        label: "出貨",
                        backgroundColor: "red",
                        data: res['SendRecord']
                    },
                    {
                        label: "進貨",
                        backgroundColor: "blue",
                        data: res['ReceiveRecord']
                    },
                    {
                        label: "庫存",
                        backgroundColor: 'green',
                        data: res['Resource']
                    },
                ]
            },
            options: {
                barValueSpacing: 20,
                scales: {xAxes: [{ ticks: { min: 0 }}]}
            }
        });
    });
}

indexInit();

</script>
{% endblock %}