{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}
<style type="text/css">
    .form-control{
        width:auto;
        display:inline;
    }
    .main .container-fluid {
        padding: 0px 10px 0px 10px;
    }
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">提示訊息</div>
                <div class="card-body">
                    你好 {{username}}！
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">長條圖</div>
                <div class="card-body">

                    <select class="custom-select 
                    custom-select-sm form-control 
                    form-control-sm" name="year" 
                    id="year" onchange="call()">
                    </select>年

                    <select class="custom-select 
                    custom-select-sm form-control 
                    form-control-sm" name="month" 
                    id="month" onchange="call()">
                    </select>月

                    <select class="custom-select 
                    custom-select-sm form-control 
                    form-control-sm" name="day" 
                    id="day" onchange="call()">
                    </select>日
                    
                    <canvas id="record"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">即將過期</div>
                <div class="card-body"> 
                    <label for="">
                    有效日期 <input type="date" class="form-control" onchange="dateHandler(event);">
                    </label>
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>物品名稱</th>
                                <th>數量</th>
                                <th>有效日期</th>
                                <th>據點</th>
                            </tr>
                        </thead>                    
                        <tbody id="expBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customized_js %}
<script src="{% static 'vendors/inventory/index.js' %}"></script>
<script>
if(window.mobilecheck()){
    let style = document.createElement('style');
    style.innerHTML = "table {display: block; overflow-x: auto; white-space: nowrap;}";
    document.head.appendChild(style);
}
</script>
{% endblock %}