{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}
{% endblock %}

{% block main %}


<a href="/inventory/create/{{ model_name }}">new</a>
<a href="/inventory/">home</a>
<br>
<table border="1">

<tr>
{% for i in name_list %}

    <th>{{ i }}</th>

{% endfor %}
</tr>

{% for object in object_list %}

    <tr>
    {% for key, value in object.items %}

        {% if key != 'id'%}
            {% if key == 'picture' %}
                <td><img src="/media/{{ value }}" alt="hello"></td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}    
        {% endif %}
    {% endfor %}
        <td><a href="/inventory/update/{{ model_name }}/{{ object.id }}">update</a></td>
        <td><a href="/inventory/delete/{{ model_name }}/{{ object.id }}">delete</a></td>
    <tr>


{% endfor %}

</table>

{% endblock %}

{% block customized_js %}
{% endblock %}
