{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}

<style type="text/css">
    .form-control{
        width:auto;
        display:inline;
    }
    .main .container-fluid {
        padding: 0px 10px 0px 10px;
    }
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>

{% endblock %}

{% block main %}
            <table class="table table-striped" id="mytable">
                <thead class="thead-light">
                    <tr>
                    {% for key, value in object_list.0.items %}
                        {% if key != 'ID' and key != '單位聯絡人' and key != '食物銀行'%}    
                            <th>{{ key }}<span>&nbsp;&nbsp;&nbsp;&#8597;</span></th>
                        {% endif %}
                    {% endfor %} 
                        <th>
                            功能
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                    {% for key, value in object.items %}
                        {% if key != 'ID' and key != '單位聯絡人' and key != '食物銀行'%}
                            {% if key == '照片' %}
                                <td>
                                    <img src="/media/{{ value }}" 
                                    width="50" height="50" alt="">
                                </td>
                            {% elif key == '捐贈者' and object.單位聯絡人 != None %}
                                <td> {{ value }}/{{ object.單位聯絡人 }} </td>
                            {% else %}
                                <td> {{ value }} </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        <td>
                            <a href="/inventory/update/{{ model_name }}/{{ object.ID }}" 
                                class="btn btn-outline-info" role="button">修改</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}

{% block customized_js %}
<script>

if(window.mobilecheck()){
    let style = document.createElement('style');
    style.innerHTML = "table {display: block; overflow-x: auto; white-space: nowrap;}";
    document.head.appendChild(style);
}

let setAddBtn = () => {
    let model = "{{ model_name }}";
    let child = document.createElement('a');
    child.setAttribute('href', `/inventory/create/${model}`);
    child.setAttribute('class', 'btn btn-info');
    child.setAttribute('role', "button");
    child.textContent = "新增";
    let sibling = document.getElementById('mytable_filter');
    sibling.insertAdjacentHTML('beforeend', '&nbsp;&nbsp;');
    sibling.appendChild(child);
}

$(document).ready(function() {    
    let table = $('#mytable').DataTable({
        "language": lang,
        "order": [],
    });
    setAddBtn();
} );

let lang = {
        "decimal":        "",
        "emptyTable":     "No data available in table",
        "info":           "_TOTAL_ 筆資料中的 _START_ 到 _END_ 筆",
        "infoEmpty":      "Showing 0 to 0 of 0 entries",
        "infoFiltered":   "(filtered from _MAX_ total entries)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "顯示 _MENU_ 筆資料",
        "loadingRecords": "Loading...",
        "processing":     "Processing...",
        "search":         "搜尋 ",
        "zeroRecords":    "No matching records found",
        "paginate": {
            "first":      "First",
            "last":       "Last",
            "next":       "下一頁",
            "previous":   "上一頁"
        },
        "aria": {
            "sortAscending":  ": activate to sort column ascending",
            "sortDescending": ": activate to sort column descending"
        }
    }

</script>
{% endblock %}