{% extends 'backstage/base.html' %}
{% load static %}
{% block title %}
{{ PROJECT_NAME }}
{% endblock %}

{% block customized_css %}

<style type="text/css">
    .form-control{
        width:auto;
        display:inline;
    }
    table { 
        table-layout: fixed;
        word-wrap: break-word;
    }
    .main .container-fluid {
        padding: 0px 10px 0px 10px;
    }
</style>

{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">物品列表</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm table-striped" id="mytable">
                <thead class="thead-light">
                    <tr>
                    {% for key, value in object_list.0.items %}
                        {% if key != 'ID' %}    
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                        <th>
                            詳細資訊
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                    {% for key, value in object.items %}
                        {% if key != 'ID' %}
                            <td> {{ value }} </td>
                        {% endif %}
                    {% endfor %}
                        <td>
                            <a href="/inventory/detail/{{ model_name }}/{{ object.ID }}" 
                                class="btn btn-outline-info" role="button">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
        <center>
            <a href="/inventory/create/{{ model_name }}" class="btn btn-info" role="button">新增</a>
        </center>
        <br/>
        <br/>
        </div>
        
    </div>
</div>
{% endblock %}

{% block customized_js %}
<script>

$(document).ready(function() {
    
    let table = $('#mytable').DataTable({
        "language": lang,
        "order": [],
    });
} );

let lang = {
        "decimal":        "",
        "emptyTable":     "No data available in table",
        "info":           "_TOTAL_ 筆資料中的 _START_ 到 _END_ 筆",
        "infoEmpty":      "Showing 0 to 0 of 0 entries",
        "infoFiltered":   "(filtered from _MAX_ total entries)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "顯示 _MENU_ 筆資料",
        "loadingRecords": "Loading...",
        "processing":     "Processing...",
        "search":         "搜尋 ",
        "zeroRecords":    "No matching records found",
        "paginate": {
            "first":      "First",
            "last":       "Last",
            "next":       "下一頁",
            "previous":   "上一頁"
        },
        "aria": {
            "sortAscending":  ": activate to sort column ascending",
            "sortDescending": ": activate to sort column descending"
        }
    }

</script>
{% endblock %}