{% load static %}
<!-- CoreUI and necessary plugins-->
<script src="{% static 'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap4/js/bootstrap.js' %}"></script>
<script src="{% static 'vendors/pace/pace.js' %}"></script>
<script src="{% static 'vendors/Chart_js/Chart.js' %}"></script>
<script src="{% static 'vendors/CoreUI/js/app.js' %}"></script>
<script src="{% static 'vendors/CoreUI/js/views/main.js' %}"></script>
<script src="{% static 'vendors/DataTables/DataTables-1.10.18/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js' %}"></script>