<ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">account_circle</i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
                <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="#">
                <i class="material-icons" style="font-size: 16px;">account_box</i> Profile
            </a>
            <a class="dropdown-item" href="#">
                <i class="material-icons" style="font-size: 16px;">settings</i> Settings
            </a>
            
            <div class="dropdown-header text-center">
                <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
                <i class="material-icons" style="font-size: 16px;">message</i> Message
                <span class="badge badge-info">0</span>
            </a>
            <a class="dropdown-item" href="#">
                <i class="material-icons" style="font-size: 16px;">assignment</i> Todo List
                <span class="badge badge-info">0</span>
            </a>
            <a class="dropdown-item" href="#">
                <i class="material-icons" style="font-size: 16px;">edit</i> Edit Log
                <span class="badge badge-info">0</span>
            </a>
        <div class="divider"></div>
        <a class="dropdown-item" href="/user/logout">
            <i class="material-icons" style="font-size: 16px;">arrow_right</i> Logout
        </a>
        </div>
    </li>
</ul>